@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

html {
    overflow-x: hidden;
    font-family: 'Encode Sans', sans-serif;
    font-size:16px;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./src/img/bg.webp);
    flex-wrap: wrap;
    text-align: center;
}

#container {
    width: 80%;
    background-color: white;
    display: flex;
    color: #fff;
    -webkit-box-shadow: 4px 4px 19px -6px rgba(34, 34, 34, 1);
    -moz-box-shadow: 4px 4px 19px -6px rgba(34, 34, 34, 1);
    box-shadow: 4px 4px 19px -6px rgba(34, 34, 34, 1);
}

#container p {
    color: #222;
    text-align: left;
}

#container button {
    background-color: #FFB606;
    font-size: 20px;
    color: white;
    padding: 15px 40px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    border: 2px solid #FFB606;
}

#container button:hover {
    background-color: #fff;
    color: #FFB606;
}

.calc {
    width: 50%;
}

input[type=number],
input[type=month] {
    width: 100%;
    background-color: none;
    color: #666;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}

.inputy {
    margin: 0 4rem;
    width: 50%;
}

.inputy h1 {
    margin-top: 4rem;
}

#payment {
    margin: auto;
    margin-top: 3rem;
    border: 2px solid #FFB606;
    padding: 1rem;
    font-size: 4rem;
    color: #222;
}

.wynik {

    font-size: 2rem;
    display: grid;

}

.wynik h4 {

    margin: 2rem auto;
    padding: 0.2rem;
    color: #444444;
    font-size: 3rem
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #222;
    margin-bottom: 35px;
}

/* suwak */
.slidecontainer {
    width: 100%;
}

input[type=range] {
    height: 32px;
    -webkit-appearance: none;
    margin: 12px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #444444;
    border-radius: 6px;
    border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 0px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFB606;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #444444;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #444444;
    border-radius: 6px;
    border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 0px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFB606;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #444444;
    border: 0px solid #010101;
    border-radius: 12px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #444444;
    border: 0px solid #010101;
    border-radius: 12px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000031;
    border: 0px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFB606;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #444444;
}

input[type=range]:focus::-ms-fill-upper {
    background: #444444;
}

@media (max-width:1024px) {
    #container{
    justify-content: center;
    flex-wrap: wrap;
    }
}
